POSTGRES_DB=simon_says
POSTGRES_USER=simon
POSTGRES_PASSWORD=change-this-db-password
CLERK_SECRET_KEY=sk_test_replace-this
CLERK_AUTHORIZED_PARTIES=["http://localhost"]
CORS_ORIGINS=["*"]
SERVER_NAME=api.example.com
HTTP_PORT=80
HTTPS_PORT=443
